---
title: Welcome to Middleman
---

<div class="welcome">
  <div class="logo">
    <%= image_tag "middleman-logo.svg" %>
  </div>
  <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Name</th>
        <th>HP</th>
        <th>MP</th>
      </tr>
    </thead>
    <tbody>
      <% CSV.foreach(File.join(File.dirname(__FILE__), "monsterdb.csv")) do |item| %>
        <tr>
          <td class="mdl-data-table__cell--non-numeric"><%= item[0] %></td>
          <td><%= item[1] %></td>
          <td><%= item[2] %></td>
        </tr>
        </tr>
      <% end %>
    </tbody>
  </table>
</div><!-- .welcome -->
